<form ngNoForm action="{{ providerURL }}" method="POST">
    <button type="submit" class="btn btn-block jh-btn-social jh-btn-{{ provider }}" title="Sign in with {{ label }}">
       <!-- <span >Sign in with {{ label }}</span>-->
    </button>
    <input name="scope" type="hidden" value="{{ providerSetting }}"/>
    <input name="_csrf" type="hidden" value="{{ csrf }}"/>
</form>
