.jh-btn-social.jh-btn-linkedin {
    width: 36px;
    height: 36px;
    margin: 0 auto;
    border-radius: 0.25rem;
    background: url('logo_linkedin100.png') no-repeat center center;
    background-size: contain;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    & > span {
        display: inline-block;
        width: 0;
        height: 0;
        overflow: hidden;
        color: transparent;
    }
    &:hover {
        opacity: 0.85;
    }
}
